<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>React Tweets</title>
<!--     <link rel="stylesheet" type="text/css" href="css/style.css"> -->
  </head>
  <body>
  
    {{{ body }}}
    
    <script src="https://cdn.socket.io/socket.io-1.3.5.js"></script>
    <script>
      var socket = io();

      socket.on('derp', function(msg){
        console.log('derp transfer complete', msg);
      });

      var trigger = function(){
        socket.emit('hostage', {person:"me"});
      }
    </script>

    <button onclick="trigger();">Trigger</button>

  </body>
</html>