<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{page_title}}</title>
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
      <link rel="stylesheet" type="text/css" href="css/default.css">
  </head>
  <body>
<header>
<a href="/"><h1>Concourse</h1></a>

    <nav>
        <ul>
            <li>
                <a href="/signup">Register</a>
            </li>
            <li>
                <a href="/login">Login</a>
            </li>
        </ul>
    </nav>


</header>
{{!-- Flash Alert Msg Here --}}

  <div id="main_content" class="container">
    <div id="content">
      {{{ body }}}
    </div>
  </div>

    <!-- <script src="https://fb.me/react-0.13.3.min.js"></script> -->
    <!-- ReactJS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/react.min.js"></script>
    <!-- Flux Transformer through Delorean -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://fb.me/JSXTransformer-0.13.3.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.3.5.js"></script>
    <script src="js/bundle.js"></script>
  </body>
  
  <script>
      $(window).scroll(function() {
          if ($(this).scrollTop() > 1){
              $('header').addClass("sticky");
          }
          else{
              $('header').removeClass("sticky");
          }
      });
  </script>

</html>

