<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>React Tweets</title>
    <link rel="stylesheet" type="text/css" href="css/default.css">    
  </head>
  <body>
    <!-- <script src="https://fb.me/react-0.13.3.min.js"></script> -->
    <!-- ReactJS -->
    <script src="js/react.js"></script>
    <!-- Flux Transformer through Delorean -->
    <script src="js/delorean.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://fb.me/JSXTransformer-0.13.3.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.3.5.js"></script>
    <div class="container">
      {{{ body }}}
      <button id="dataChanger">Trigger</button>
      <div id="result"></div>
    </div> 
  </body>
</html>