@import url(http://fonts.googleapis.com/css?family=Raleway:400,700,300);
$font-family-base: 'Raleway', sans-serif;
// Import bootstrap and fontawesome
 // "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
//@import "bootstrap-sprockets";
//@import "bootstrap";

@import "meyer_reset";
@import "font-awesome";

// ---------- Mixins --------------------

@mixin theme($name,$bgColor,$textColor){
	.#{$name}{
		background-image: none;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-color: $bgColor;
		color: $textColor;
	}
}


// ---------- Contents --------------------
// ---------- 1: Typography
// ---------- 2: Colors & other variables
// ---------- 3: Organisms
// ---------- 4: General
// ---------- 5: Header / Navigation
// ---------- 6: Index
// ---------- 7: Messages
// ---------- 8: Scroll bar
// ---------- 9: Inputs
// --------- 10: Media queries
// --------- 11: Grid System

// ----------------------------------------

// ---------- 1: Typography -------------------
$railway	 			: 'Raleway', sans-serif;
$opensans 				: 'Open Sans', sans-serif;
$roboto 				: 'Roboto', sans-serif;

// ---------- 2: Colors & other variables -----
$charcoal 				: rgba(38,50,56 ,1);
$grey 					: rgba(97,97,97 ,1);
$grey-light 			: rgba(117,117,117 ,1);
$blurred-grey			: rgba(255, 255, 255, 0.6);
$white 					: rgba(236,239,241 ,1);
$white-hover 			: rgba(207,216,220 ,1);

$red 					: rgba(239,83,80 ,1);
$blue 					: rgba(33,150,243 ,1);
$green 					: rgba(76,175,80 ,1);
$orange 				: rgba(255,152,0 ,1);
$atomicBlue				: #4d76bf;

$box-shadow		 		: 2px 2px 3px rgba(0,0,0,0.3);
$button-box-shadow 		: 0px 2px 3px rgba(0,0,0,0.3);
$button-box-shadow-hover: 0px 1px 2px rgba(0,0,0,0.3);
$border-radius 			: 2px;

// ---------- 3: Organisms ---------------------
h1, h2, h3{
	font-family 		: $opensans;
  	font-weight 		: 300;
  	color 				: rgba(97,97,97 ,1);
}
h4, h5, h6, li, a, label {
	font-family 		: $opensans;
}
body{
	font-family 		: $roboto;
  	background-image: url(../img/91S.jpg);
  	background-repeat: no-repeat;
  	background-attachment: fixed;
}

a:link {
  text-decoration: none;
  color: $grey;
}

a:visited {
  text-decoration: none;
  color: $grey-light;
}

a:hover {
  text-decoration: none;
  color: $atomicBlue;
}

a:active {
  text-decoration: none;
}

.left{
  float: left;
}

.right{
  float: right;
}

.ghost-button {
  display: inline-block;
  width: 100px;
  padding: 12px;
  color: white;
  border: 2px solid white;
  text-align: center;
  outline: none;
  text-decoration: none;
  margin-top: 13px;
  font-family: $railway;
  font-weight: 600;
  font-size: 1.4em;
  -webkit-transition:All 1s ease;
     -moz-transition:All 1s ease;
       -o-transition:All 1s ease;
          transition:All 1s ease;
}

.ghost-button:hover,
.ghost-button:active {
  background-color: ghostwhite;
  -webkit-transition:All 1s ease;
  	 -moz-transition:All 1s ease;
  	   -o-transition:All 1s ease;
  		  transition:All 1s ease;
}

// ---------- 4: General --------------------------
.loginForm{
  width: 30%;
  margin: 0 auto;
  height: 350px;
  border: 1px solid $white;
}
#loginFormCenter{
  width:73%;
  margin: 30px auto;
  overflow: hidden;
}

#calltoactionbar{
	width: 100%;
  	height: 350px;
  	background-color: rgba(25, 25, 25, 0.5);
  	.row{
	  h1{
		font-size: 1.8em;
		text-align: center;
		margin-top: 50px;
		color: white;
	  }
	  h2{
		font-size: 1.6em;
		text-align: center;
		margin-top: 10px;
		color: white;
	  }
	}
}

#registerButton{
 	height: 75px;
	background-color: rgba(255, 255, 255, 0.8);;
  	.row{
	  #signupcta{
		width: 59%;
		margin: 0 auto;
		overflow: hidden;
		h2{
		  line-height: 78px;
		  font-size: 1.4em;
		  text-align: center;
		}
		a{
		  margin-left: 2%;
		}
	  }
	}
}
// ---------- 5: Header / Navigation --------------------------
header{
  text-align: center;
  font-size: 52px;
  line-height: 78px;
  height: 78px;
  background: transparent;
  color: #fff;
  top: 0;
  z-index: 999;
  // set animation
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  h1{
	color:white;
	font-family: $railway;
	font-weight: 700;
  }
  nav{
	visibility: hidden;
  }
}

header.sticky {
  position: fixed;
  font-size: 24px;
  line-height: 48px;
  height: 48px;
  width: 100%;
  background: white;
  top: 0;
  z-index: 999;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
  h1{
	float: left;
	padding-left: 2%;
	color: grey;
  }
  nav{
	float: right;
	visibility: visible;
	ul{

	  li{
		float: left;
		padding-left: 4%;
		font-size: .8em;
		&:nth-child(4){
		  padding-right: 6%;
		}
	  }

	}
  }
}
// ---------- 6: Index --------------------------
article{
	h3{
		margin: 0 0 10px 0;
	}
}
aside.channels{
	border-radius: $border-radius;
	border: 1px solid $white;
	padding: 20px;
	margin-bottom: 10px;
	h4{
		margin: 0;
		font-weight: 300;
	}

}
.channel-list{
	margin: 20px 0 40px 0;
	list-style-type 	: none;
	padding 			: 0;
	.channel-edit, .channel-destroy{
		color: $grey-light;
		padding: 5px;
		opacity: 0;
	}
	li{
		margin: 10px 0;
		&:hover .channel-edit, &:hover .channel-destroy{
			opacity: 1;
		}
		a.title{
			box-shadow: $button-box-shadow;
			border-radius: $border-radius;
			background-color: rgba(255,152,0 ,1);
			color: #fff;
			&:hover{
				color: #fff;
				box-shadow: $button-box-shadow-hover;
			}
		}
	}
}
.list-group-item{
	border-radius: 2px !important;
	border-color: $white !important;
}

// ---------- 7: Messages --------------------------
#settingsColumn{
  	position: absolute;
    top:0;
  	right: 0;
	width: 20%;
  	height: 100vh;
  	background-color: $blurred-grey;
  	h1{
	  text-align: center;
	  margin-top: 35px;
	}
  	.settingsicons{
		margin-left: 4%;
	}
    #settingsFix{
	  width: 90%;
	  margin: 15px auto;
	}
}

#messagewindow{
  margin-right: 20%;
  width: 80%;
}

#sender{
  position: absolute;
  bottom: 40px;
}

#logedInUser{
  position: absolute;
  bottom: 25px;
  width: 100%;
  margin: 0 auto;
}
// ---------- 8: Scrollbar --------------------------
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.2);
}

::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: rgba(117,117,117,0.2);
}

// ---------- 9: Inputs --------------------------

button{
  background: none;
  outline: 0;
}

button:hover{
  color: $atomicBlue;
}

form{
  button[id='login']{
	width: 315px !important;
  }
}

.group {
  position:relative;
  margin-bottom:45px;
}

input {
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:300px;
  border:none;
  border-bottom:1px solid #757575;
  background-color: transparent;
}

input:focus {
  outline:none;
}

/* LABEL ======================================= */
label {
  color:grey;
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label {
  top:-20px;
  font-size:14px;
  color:white;
}

/* BOTTOM BARS ================================= */
.bar {
  position:relative;
  display:block;
  width:315px;
}
.bar:before, .bar:after {
  content:'';
  height:2px;
  width:0;
  bottom:1px;
  position:absolute;
  background:white;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%;
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%;
  width:100px;
  top:25%;
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
  from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
  from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
// ---------- 10: Media queries ------------
$xsmall : 768px;

@media screen and (max-width: $xsmall) {
	iframe{
		width: 100%;
	}
	#messages{
		padding: 0 0 40px 0;
		margin-bottom: 0;
		max-height: none !important;
		height: auto !important;
		border: 0;
		overflow-x: hidden;
		overflow-y: visible;
		p{
			margin: 0;
			padding: 0 !important;
		}
		.each-msg{
			margin: 5px 0;
			padding: 10px 5px 5px 5px;
		}
	}
	.user_name{
		white-space: nowrap;
		width: 100%;
		overflow: hidden;
		text-overflow: ellipsis;
		padding-left: 10px;
	}
	h1{
		font-size: 16pt !important;
		font-weight: 700 !important;
		margin-top: 0 !important;
	}
	.timestamp{
		padding: 0 !important;
	}
	input{
		width: 100% !important;
	}
	.channel-list {
		text-align: center;
		a{
			width: 90%;
			padding: 10px;
		}
	}
	.form_slide{
		margin-top: 0 !important;
	}

}

// ---------- 11: Grid System ------------

.row {
  margin: 0 auto;
  max-width: 62.5rem;
  width: 100%;
}
.row:before, .row:after {
  content: " ";
  display: table;
}
.row:after {
  clear: both;
}


// Material Design Colors - http://www.materialui.co/colors
/////////////////////////////////////
.channel_form_slide, .form_slide, {
	margin-top: 20px;
}
.not_logged_in_msg, .channel_not_logged_in_msg, .alert {
	margin-top: 10px;
	padding: 10px;
	color: red;
	padding: 10px;
}
.slide_down, .slide_down_not_loggedIn{
	margin-top: 30px;
}
.meta .msg_content p:nth-child(2) img, .meta .msg_content p:nth-child(1) iframe, .html5-video-container {
	max-width: 60% !important;
}
code{
	background: rgba(117, 117, 117, 0.2);
	color: black;
}

#theme {
	display: none;
}

@include theme('white-theme',$white,$charcoal);
@include theme('red-theme',$red,$charcoal);
@include theme('blue-theme',$blue,$charcoal);
