
<div id="calltoactionbar">
    <div class="row">
        <h1>Councourse is a free student chat application.</h1>
        <h2>Why Concourse? Because we are not slacking!</h2>
    </div>
</div>
<div id="registerButton">
    <div class="row">
        <div id="signupcta">
            <h2 class="left">All The Cool Kids Are Doing It:</h2>
            <a class="ghost-button left" href="/signup">Register</a>
            <a class="ghost-button left" href="/login">Login</a>
        </div>
    </div>
</div>




{{ markup }}
