<form action="/login" method="post" class="loginForm">
    <div id="loginFormCenter">
        <div class="group">
            <input class="figurine" type="text" name="email" required/>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label class="figurineLabel">Email</label>
        </div>

        <div class="group">
            <input  class="figurine" type="password" name="password" required/>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label class="figurineLabel">Password</label>
        </div>
        <button type="submit" id="login" class="ghost-button">Login</button>
    </div>
</form>
