<form action="/login" method="post" class="loginForm">
    <div id="loginFormCenter">
        <div class="group">
            <input class="figurine" type="text" class="form-control" name="email" required/>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label class=figurineLabel>Name</label>
        </div>

        <div class="group">
            <input  class="figurine" type="password" class="form-control" name="password" required/>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label class=figurineLabel>Password</label>
        </div>
        <button type="submit" id="login" class="ghost-button">Login</button>
    </div>
</form>
