<div id="settingsColumn" class="right">
    <h1>Channel Name</h1>

        <div id="settingsFix">
            <div class="settingsicons left">
                <a href="/logout"><i class="fa fa-sign-out"></i> Log Out</a>
            </div>
            <div class="settingsicons left">
                <a href="/profile"><i class="fa fa-user"></i> Profile</a>
            </div>
            <div class="settingsicons left">
                <a href="/settings"><i class="fa fa-cogs"></i> Settings</a>
            </div>
        </div>

    {{#if user.local}}
        <h1 id="logedInUser">Hello: {{user.local.email}}</h1>
    {{/if}}

    <form class="clearfix" action="/saveTheme" method="POST">
        <label for="default">Default</label>
        <input type="radio" name="theme" value="default">
        <label for="red-theme">Red</label>
        <input type="radio" name="theme" value="red-theme">
        <label for="blue-theme">Blue</label>
        <input type="radio" name="theme" value="blue-theme">
        <label for="white-theme">white</label>
        <input type="radio" name="theme" value="white-theme">
        <button type="submit" name="button">Save Theme</button>
    </form>
</div>

<div id="messagewindow">
    <div id="messages"></div>
</div>


<div id="sender">

</div>
