<h1>Channel Name</h1>
<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Current Topic: <em>Food and why you should eat better.</em></h3>
      </div>
      <div class="panel-body">
        <div id="messages"></div>
      </div>
      <div class="panel-footer">
        <div class="form-group">
          <label for="message">Message</label>
          <div id="sender"></div>
        </div>
      </div>
    </div>
  </div>
  <form action="/saveTheme" method="POST">
    <label for="default">Default</label>
    <input type="radio" name="theme" value="default">
    <label for="red-theme">Red</label>
    <input type="radio" name="theme" value="red-theme">
    <label for="blue-theme">Blue</label>
    <input type="radio" name="theme" value="blue-theme">
    <input type="submit">
  </form>
</div>
