
<form action="/signup" method="post" class="loginform">

    <div id="loginformcenter">
        <div class="group">
            <input class="figurine" type="text" class="form-control" name="email" required/>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label class=figurinelabel>Email</label>
        </div>

        <div class="group">
            <input class="figurine" type="text" class="form-control" name="name" required/>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label class=figurinelabel>Username</label>
        </div>

        <div class="group">
            <input class="figurine" type="password" class="form-control" name="password" required/>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label class=figurinelabel>Password</label>
        </div>
        <button type="submit" id="login" class="ghost-button">Signup</button>
    </div>

    <p>Already have an account? <a href="/login">Login</a></p>
    <p>Or go <a href="/">home</a>.</p>

</form>
